<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="host=brokers:5672" />
  </connectionStrings>
  <!--<MessageForwardingInCaseOfFaultConfig 
    ErrorQueue="The queue to which errors will be forwarded." />-->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="RIPD.error" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <!-- Only add message mappings for commands that need to be sent. RabbitMQ supports centralized pub/sub so message mappings are not required for event subscriptions -->
      <add Assembly="Messages" Namespace="Messages.Commands" Endpoint="Heaven" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <AuditConfig QueueName="RIPD.audit" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus.Core" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>