<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.5.1" targetFramework="net45" />
  <package id="NServiceBus" version="4.3.4" targetFramework="net45" />
  <package id="NServiceBus.ActiveMQ" version="1.0.5" targetFramework="net45" />
  <package id="NServiceBus.Host" version="4.3.4" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.3.4" targetFramework="net45" />
</packages>